[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = json_struct is a single header only C++ library for parsing JSON directly to C++ structs and vice versa
[access "refs/*"]
	owner = group user/Jørgen Lind (jorgen)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Jørgen Lind (jorgen)
	label-Verified = -1..+1 group user/Jørgen Lind (jorgen)
	push = group user/Jørgen Lind (jorgen)
	read = group user/Jørgen Lind (jorgen)
	rebase = group user/Jørgen Lind (jorgen)
	removeReviewer = group user/Jørgen Lind (jorgen)
	submit = group user/Jørgen Lind (jorgen)
[access "refs/heads/*"]
	create = group user/Jørgen Lind (jorgen)
	push = +force group user/Jørgen Lind (jorgen)
	pushMerge = group user/Jørgen Lind (jorgen)
	read = group user/Jørgen Lind (jorgen)
[access "refs/tags/*"]
	push = group user/Jørgen Lind (jorgen)
	push = +force group user/Jørgen Lind (jorgen)
